$fontSpecial: Arial, sans-serif;
$dominantColour:#663030;
$recessiveColour: #6495ed;
$strongFontWeight: 600;
$headerFontWeight: 600;
$borderColour: #acacac;
$borderFocusColour: black;
$buttonGradient: linear-gradient($dominantColour,$recessiveColour);
$buttonGradientHover: linear-gradient($recessiveColour,$dominantColour);

$circle: 1rem;
@mixin frequencyCirclesDims ($scale:1) {
    width: ($circle * 10) * $scale;
    height: ($circle * 10) * $scale;
}

@mixin fitContent {
    width: fit-content;
    width: -moz-fit-content;
}

@mixin marginCentre {
    margin-left: auto;
    margin-right: auto;
}

/* ********************************************************* */


* {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 1rem;
}
html {
    overflow-y: scroll;
    margin-bottom:0;
    font-size:100%;
}


body {
    font-family: "Georgia";
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    background-image:  linear-gradient(#c1d5f8, #c2acac);

}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $headerFontWeight;
    font-family: "Arial Thin", sans-serif;
}

h2 {
    // border-top: 1px dotted $borderColour;
    padding-top: 1rem;
}

a { 
    text-decoration:none;
    color: $dominantColour;
    border-bottom:1px dotted $dominantColour;
    &:hover { 
        color: $recessiveColour;
        border-bottom:1px dotted $recessiveColour;
    }
}
table { 
    border-spacing: 0;
    border-style:solid;
    border-width: 1px 0 0 1px;
    border-color: $borderColour;
    background:rgb(226, 226, 226);
    margin: 1rem 0;
}
th, td { 
    border-style:solid;
    border-width: 0 1px 1px 0;
    border-color: $borderColour;
}
th, td { padding: 0.5rem;}
td { background: white;}
th {font-weight: $strongFontWeight}

dt {
    font-weight: $strongFontWeight; 
    font-family: $fontSpecial;
}
sup { 
    font-weight:normal;
    color:black;
}

img { 
max-width: 100%;
height: auto;
@include marginCentre;
display:block;

}

button {
    cursor: pointer;
    border:0;
    border-radius: 0.75rem;
    padding: 0.75rem;
    font-family: $fontSpecial;
    font-size: 1rem;

    &:focus {
        outline: none;
         box-shadow: 0 0 2px 3px  $borderColour;
    }
}


.centre-element { 

    @include marginCentre; 
}

.asterisk {
    font-weight: $strongFontWeight;
    color: red;
}

.no-bullets {
    padding-left:0;
    list-style:none;
}

.hide {
    display: none;
}
.show {
    display: block;
}
.inline-block { display: inline-block; }
.strong {
    font-weight: $strongFontWeight;
}

.dominant {
    color:$dominantColour;
    font-weight: $strongFontWeight;
    font-familY: $fontSpecial;
}
.recessive {
    color: $recessiveColour;
    font-weight: $strongFontWeight;
    font-familY: $fontSpecial;
}

p, li, dd {
    max-width: 60ch;
}


.container {
    @include fitContent;
    margin: 0 auto;
    padding: 1.5rem 2rem;

    background:white;
}

.page-title {
    margin-bottom: 2rem;    
}


.equation {
    text-align:center;
    font-size: 2rem;
    font-family: "Arial Thin", sans-serif;
}


/* form */
.hw {
    &-form {
        padding:2rem 0;
        @include fitContent;
        margin: 0 auto -1px auto;
    }

    &-input {
        width: 3em;
        border: 2px solid $borderColour;
        border-radius: 0.2rem;
        &:focus {
            outline: none;
            border: 2px solid $borderFocusColour;
        }
    }

    &-button {
        background-image: $buttonGradient;
        margin-left: 0.5rem;
        color: white;
        font-weight: $strongFontWeight;

        &:hover {
            background-image: $buttonGradientHover;
        }
    }

    &-disabled { 
        opacity: 0.5; 
    }

}



.error {
    border: 2px solid red;
    background: lightpink;
    font-weight: 600;
    padding: 1rem;
    text-align: center;
}
.approx { 
    color: red;
    font-weight:600;
}
.rounding-error { 
    border-style: solid;
    border-width: 2px 0;
    border-color: red;
    padding: 0.25rem 0;
}


/* output */
.output-container {

    padding: 2rem 1rem;
}

.qq-value {
    text-align: center;
}

/* boxes */
.boxes { 
    h3 {
        text-align: center;
    }
    ul {
        @include marginCentre;
        padding: 0;
    }

    li {
        list-style: none;
    }
}

.box {

    border-bottom:1px solid $borderColour;
    padding-bottom: 2rem;
    &-list { 
        @include fitContent;
        text-align: center;
    }

}

.border-box {
    border:1px solid $borderColour;
    padding: 1rem;
}


.frequency-total {
    text-align: center;
    max-width: 100%;
}

.phenotype-frequencies {

    @include fitContent;
    @include marginCentre;

    p, h3 { text-align: center; }
}

/* circles */
.frequency-circles {
    @include frequencyCirclesDims(1);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: visible;
}

.circle {
    display: block;
    width: $circle;
    height: $circle;
    border-radius: 50%;
    margin: 0;

    &-p { background: $dominantColour; }

    &-pq {
        &-bg {
            background: $dominantColour;
            overflow: hidden;
            position: relative;
        }
        &-overlay {
            display: block;
            width: $circle;
            height: $circle;
            position: absolute;
            top: 0;
            left: 50%;
            background: $recessiveColour;
            margin: 0;
        }
    }

    &-q { background: $recessiveColour; }
}


@media screen and (min-width: 960px) {

    body { font-size: 1.3rem;}

    table { margin: 2rem 0; }
    .page-title { line-height: normal;}

    .container {
        padding: 3rem 5rem;
    }

    .equation { font-size: 3rem; }

    .hw-form {
        text-align: center;
    }
    .boxes {
        display: flex;
        width: 90%;
        padding: 1rem 0;
        margin: auto;
    }
    .box {
        width: 50%;
        margin-bottom: 2rem;
        padding-bottom: 4rem;
        &-list { width: 15rem; }
    }

    /* this to compensate for only two values in allele list */
    .allele-list {
        margin-bottom: 3.9125rem;
    }

    .frequency-circles {
        @include frequencyCirclesDims(1.3); 
    }  
    .circle,
    .circle-pq-overlay {
        width: $circle * 1.3;
        height: $circle * 1.3 ;

    }
}
